# project files
.vscode/

# unused sample codes
something.dex
Others/

# old files
Old/

# generated javascript files 
AstroCompiler/*.js
AstroCompiler/*.map
Tests/js/

# temporary files 
Docs/temporary.abnf
